.navbar-container {
    height: 5%;
    display: flex;
    padding: 20px 10px;
    background-color: rgba(255, 115, 0, 0.831);
}

.navbar-list {
    display: flex;
    list-style-type: none;
    width: 65%;
    justify-content: space-evenly;
    align-items: center
}

.navbar__item {
    margin: 0;
    text-align: center;
}

.navbar__link {
    color: #1b2631; /* Text color */
    text-decoration: none; /* Remove underline */
    transition: color 0.2s; /* Smooth transition for hover effect */
  }
  
  .navbar__link:hover {
    color: white
  }

.navbar-container > h1 {
    height: 100%;
    width: 20%;
    margin: 0 0 0 2%;
}

.user-icon {
    margin: auto;
    padding: 15px;
    border-radius: 40px;
    border: 1px solid black
}

